@use '../../sass' as *;

.airbean-container {
    @include container;
    background-color: $primary-color;
    position: relative;
    cursor: pointer;

    h1 {
        font-size: 42px;
        font-family: $font-rufina;
        margin-top: 12px;
        text-transform: uppercase;
    }
    p {
        font-size: 9px;
        font-family: $font-work-sans;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}

.header-left {
    position: absolute;
}
.header-right {
    position: absolute;
    right: 0;
    top: 0;
} 
.main-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}