@use '../../sass/' as *;

.nav-container {
    @include container;
    background-color: $brown;
    font-family: $font-pt;
    font-weight: 700;
    font-size: 2rem;

    hr {
        color: #fff;
        opacity: 20%;
        width: 48px;
    }

    a {
        color: #fff;
        text-decoration: none;
        margin: 1rem 0;

        &:hover {
            color: #fff;
        }
    }
}
.close-img-button {
    display: flex;
    margin-left: 1rem;
    padding-top: 1rem;
    cursor: pointer;
}
.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}