@use '../../sass' as *;

.menu-container {
    width: 375px;
    margin: auto;
    background-color: $secondary-color;
    color: $brown;

    h1 {
        font-family: $font-pt;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 50px;
        text-align: center;
    }
}

.nav-button-menu {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 34rem;
}
.cart-button {
    cursor: pointer;
    position: absolute;
    top: .00001rem;
    left: 51rem;
}
.quantity-cart {
    background-color: $orange;
    border-radius: 100%;
    width: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: .7rem;
    left: 54.5rem;
}
.add-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: $brown;
    font-family: $font-pt;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
.menu {
    display: flex;
    margin-top: 1rem;
}
.menu-title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc {
    font-family: $font-work-sans;
    font-weight: 400;
    font-size: .8rem;
}
.menu-price {
    position: absolute;
    left: 52rem;
    margin-top: .2rem;
    font-family: $font-pt;
    font-weight: 700;
    font-size: 1.4rem;
}